.result15327200 {
	text-align: left;
  
  width: 958px;
  
  position: relative;
  z-index: 1;

  margin: 0px 0 0 0px;
  
  
  
  
  
  
  }


.result15327200 > div.content {
	
		box-shadow: 2px 2px 6px -2px #000;-webkit-box-shadow: 2px 2px 6px -2px #000;-moz-box-shadow: 2px 2px 6px -2px #000;
	
	

    background: rgba(0,0,0,0.05) url(glasshl.png) top left no-repeat ;
    background-size: 100% 100%;
    -pie-background: rgba(0,0,0,0.05);
  	border-radius: 8px 8px 8px 8px;
}

.result15327200 > div.content > div.boxtext {
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  }





.result15327200 h1,h2,h3,h4,h5,h6,ol,ul { display: block; margin: 0; }
.result15327200 h1,h2,h3,h4,h5,h6 { font-weight: bold;  }
.result15327200 p { margin:0; }
.result15327200 { letter-spacing: normal; word-spacing: 0px; white-space: normal; text-transform: none; }
.result15327200 { font-size: 16px; }





/* Easy Float Clearing */
div.import:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
div.import {display:inline-block;}
* html div.import {height:1%;}
div.import {display:block;}

a.noul { text-decoration: none; }
a.moul { text-decoration: none; } a.moul:hover { text-decoration: underline; }
a.mofuzz { text-decoration: none; }
a.mofuzz:hover {
	box-shadow: 0 0 3px #333; -moz-box-shadow: 0 0 3px #333; -webkit-box-shadow: 0 0 3px #333; -o-box-shadow: 0 0 3px #333;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;
}
a.modot       { text-decoration: none; border-bottom: 1px hidden; }
a.modot:hover { text-decoration: none; border-bottom: 1px dotted; }
a.dotul       { text-decoration: none; border-bottom: 1px dotted; }

img.corner5  { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
img.corner10 { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; }
img.corner15 { border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; }

img.boxshad3-0  { box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; -moz-box-shadow: 0 0 3px #000; -o-box-shadow: 0 0 3px #000; }
img.boxshad8-0  { box-shadow: 0 0 8px #000; -webkit-box-shadow: 0 0 8px #000; -moz-box-shadow: 0 0 8px #000; -o-box-shadow: 0 0 8px #000; }
img.boxshad12-0 { box-shadow: 0 0 12px #000; -webkit-box-shadow: 0 0 12px #000; -moz-box-shadow: 0 0 12px #000; -o-box-shadow: 0 0 12px #000; }

img.boxshad0-3  { box-shadow: 3px 3px 0 #000; -webkit-box-shadow: 3px 3px 0 #000; -moz-box-shadow: 3px 3px 0 #000; -o-box-shadow: 3px 3px 0 #000; }
img.boxshad3-3  { box-shadow: 3px 3px 3px #000; -webkit-box-shadow: 3px 3px 3px #000; -moz-box-shadow: 3px 3px 3px #000; -o-box-shadow: 3px 3px 3px #000; }
img.boxshad8-3  { box-shadow: 3px 3px 8px #000; -webkit-box-shadow: 3px 3px 8px #000; -moz-box-shadow: 3px 3px 8px #000; -o-box-shadow: 3px 3px 8px #000; }
img.boxshad12-3 { box-shadow: 3px 3px 12px #000; -webkit-box-shadow: 3px 3px 12px #000; -moz-box-shadow: 3px 3px 12px #000; -o-box-shadow: 3px 3px 12px #000; }

img.bordw1 { border-style: solid; border-width: 1px; }
img.bordw2 { border-style: solid; border-width: 2px; }
img.bordw3 { border-style: solid; border-width: 3px; }
img.bordw5 { border-style: solid; border-width: 5px; }
img.bordw8 { border-style: solid; border-width: 8px; }
img.bordw15 { border-style: solid; border-width: 15px; }

img.bordc000 { border-color: #000000; }
img.bordcddd { border-color: #dddddd; }
img.bordcfff { border-color: #ffffff; }

img.pie { position: relative; } 

table.layout {
	width: 100%;
	
}


.result15327200 img.toedge { 
	width: 958px; 
	margin-left: -10px; 
	margin-right: -10px; 
	}








